/* REGOLE GENERALI  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.blue-button{
    color: white;
    background-color: rgb( 1, 96, 255);
}

p{
    font-size: 14px;
}
/* HEADER  */
header{
    height: 60px;
    font-size: 14px;
    display: flex;
}

header a{
    color: black;
}

header a.blue-button{
    padding: 5px 10px;
}
header .row{
    align-items: center;
}
header .row .col{
    display: flex;
    align-items: center;
}
header .row nav{
    display: flex;
    justify-content: space-around;
}

header .row .col-left,.col-right{
    width: 30%;
}
/* MAIN  */

/* jumbotron  */
.jumbotron-bg{
    height: 70vh;
    background-color: rgb(179,208,231);
}

.jumbotron-container{
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 14px;
}
.jumbotron-container h1{
    font-size: 55px;
    margin-bottom: 40px;
}

.jumbotron-container .row .col-left{
    width: 29%;
    display: flex;
    flex-direction: column;
}
.jumbotron-container .row .col-left *{
    margin-bottom: 25px;
}
.jumbotron-container .row .col-left a{
    padding: 8px 10px;
}
.col-left .arrow{
    font-size: 40px;
    padding: 25px 5px;
}

.jumbotron-container .row .col-img{
    width: 70%;
}
.jumbotron-container .col-img img{
    width: 110%;
}


