/* REGOLE GENERALI  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a{
    text-decoration: none;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.blue-button{
    color: white;
    background-color: rgb( 1, 96, 255);
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 8px 0px;
}

p{
    font-size: 12px;
}

ul{
    list-style-type: none;
}
/* HEADER  */
header{
    height: 60px;
    font-size: 14px;
    display: flex;
}

header a{
    color: black;
}

header a.blue-button{
    padding: 5px 10px;
}
header .row{
    align-items: center;
}
header .row .col{
    display: flex;
    align-items: center;
}
header .row nav{
    display: flex;
    justify-content: space-around;
}

header .row .col-left,.col-right{
    width: 30%;
}
/* MAIN  */

/* regole main  */
section{
    width: 52%;
    margin: 0 auto;
    margin-bottom: 100px;
}

h2{
    font-size: 30px;
    margin-bottom: 40px;
}

h3{
    font-size: 18px;
    margin-bottom: 10px;
}

h2,h3,.price{
    font-weight: 600;
}

/* jumbotron  */
.jumbotron-bg{
    background-color: rgb(179,208,231);
    margin-bottom: 100px;
}

.jumbotron-container{
    width: 60%;
    margin: 0 auto;
    font-size: 14px;
    position: relative;
    top: 50px;
}
.jumbotron-container h1{
    font-size: 60px;
    margin-bottom: 40px;
    font-weight: 800;
}

.jumbotron-container .row .col-left{
    width: 34%; 
}

.jumbotron-container .row .col-left .left-container{
    width: 75%;
}

.jumbotron-container .row .col-left *{
    margin-bottom: 20px;
}
.jumbotron-container .row .col-left a{
    padding: 8px 10px;
}
.col-left .arrow{
    font-size: 40px;
}

.jumbotron-container .row .col-img{
    width: 65%;
}
.jumbotron-container .col-img img{
    width: 110%;
}

/* prima sezione  */

section:first-of-type{
    font-size: 12px;
}

section .fatturazione{
    margin-bottom: 30px;
}

.fatturazione ul{
    display: flex;
}

.fatturazione ul li{
    margin-right: 20px;
  /* !!!! DA FIXARE ALTEZZA LI  E STILIZ. RADIO!!!! */
}

/* schema abbonamenti  */
.subs .col-30{
    width: 30%;
    border: 1px solid lightgray;
    min-height: 680px;
}

.sub-type{
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-bottom: 1px solid lightgrey;
}

/* !!!! DA FIXARE SPAZIO SOTTO ICONE LI !!!!  */
.sub-info,.col-right{
    padding: 25px 20px;
}

.subs .col-30 .sub-info ul{
    margin-bottom: 30px;
}

.subs .col-30 .sub-info ul .month{
    color: gray;
}

.subs .col-30 .sub-info ul li{
    margin-bottom: 12px;
}


ul.middle li{
    display: flex;
}
.subs .col-30 .sub-info .buy{
    margin-top: 25px;
}

.buy a{
    text-decoration: underline;
}

.subs .col-30 hr{
    margin-top: 30px;
    margin-bottom: 40px;
    border-color:  lightgray;
    width: 20%;
    border-top: none;
}

.vantaggi{
    font-weight: 600;
    margin-bottom: 30px;
}

.middle .icon{
    margin-right: 6px;
}

.sub-info ul.check li::before{
    font: var(--fa-font-solid);
    content: "\f00c";
    color:rgb( 1, 96, 255);
}

section .col-fat{
    border: 1px solid lightgrey;
    margin-top: 35px;
}

section .col-fat .content{
    display: flex;
}

section .col-fat .sub-info{
    width: 70%;
}

section .col-fat .sub-info .price{
    margin-bottom: 40px;
}

section .col-fat .col-right{
    width: 30%;
}

/* seconda sezione  */
.partner .col-img{
    width: 60%;
}

.partner .col-img img{
    width: 100%;
}

.partner .col-text{
    width: 40%;
    padding: 40px;
}

.partner .col-text a{
    border: 1px solid black;
    padding: 5px 8px;
    font-size: 14px;
    color: black;
    margin-top: 25px;
    display: inline-block;
}
/* terza sezione  */
.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.cards-container .card{
    width: calc(100% / 3);
    padding: 15px;
}
.cards-container .card .img img{
    width: 100%;
}
/* quarta sezione  */
main section.small h2{
    padding-right: 40%;
}
main section.small a{
    font-size: 14px;
    text-decoration: underline;
}
